# This file is used to configure package manager settings for the project.

# Ignore scripts during installation to prevent potential security risks.
ignore-scripts=true

# Enforce strict engine checks to ensure compatibility with the specified Node.js version.
engine-strict=true

# Defines the minimum age (in minutes) that a release must be before it can be published.
minimum-release-age=10080